.category-container {
    padding-left: 4%;
    padding-right: 4%;
}

.category-container h3 {
    text-align: center;
    margin-bottom: 3%;
}

.col-xl-3,
.col-lg-4 {
    text-align: center;
    padding: 10px;
}

#shop-by-img {
    border-radius: 3%;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 1px solid rgb(240, 240, 240);
}

#shop-by-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.category-container h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
}