.category-container {
    padding-left: 4%;
    padding-right: 4%;
}

.category-container h3 {
    text-align: center;
    margin-bottom: 3%;
}

.col-xl-3,
.col-lg-4 {
    text-align: center;
    padding: 10px;
}

#shop-by-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid whitesmoke;
}

#shop-by-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

h4 {
    margin-top: 10px;
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
}