#contact-us-container {
    margin-top: 5%;
}

#contact-us-container p {
    text-align: center;
    margin-top: 1%;
}

.map {
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-bottom: 4%;
}

#contact-us-container form {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#map-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 9%;
}

#contact-us-container h4 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 5%;
}

#contact-us-container #address {
    font-weight: 600;
    word-spacing: 2px;
    font-size: 15px;
}

#contact-us-container #number {
    font-weight: 500;
    word-spacing: 2px;
    font-size: 15px;
    color: rgb(57, 57, 57);
}

@media screen and (max-width: 1086px) {
    #contact-us-container form {
        margin-left: 23%;
        margin-right: 25%;
        width: 50%;
    }
}

@media screen and (max-width: 652px) {
    #contact-us-container form {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
}

@media screen and (max-width: 397px) {
    #contact-us-container form {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}