/* navbar styling */
nav {
    background-color: white;
}

.navbar-brand {
    letter-spacing: 2px;
    text-align: center;
    padding: 5px;
    font-family: "Poppins", sans-serif;

}

.navbar-brand .main-text {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}

.navbar-brand .sub-text {
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: -7px;
    color: rgb(120, 117, 117);
}

.navbar-brand:hover {
    color: #897663;
    cursor: pointer;
}

.navbar-brand:active {
    color: #897663;
}

.navbar-brand:focus {
    color: #897663;
}

.nav-link {
    letter-spacing: 1px;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}