/* Best sellers section styling */
.card:hover {
    cursor: pointer;
}

.card {
    border: none;
}

.card img:hover {
    opacity: 0.6;
}

.card img {
    width: 100%;
}

.card-title {
    text-align: left;
    line-height: -2;
    letter-spacing: 0px;
    font-size: 16px;
    margin-left: -15px;
}

.card-rating {
    text-align: left;
    line-height: -2;
    letter-spacing: 2px;
    font-size: 11px;
    margin-left: -15px;
}

#card-review {
    position: relative;
    bottom: -2px;
}

.card-rating:hover {
    cursor: pointer;
}

.card-text {
    float: left;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.2px;
    margin-left: -15px;

}

.best-sellers-div {
    margin-bottom: 3%;
}

.btn-product-card {
    background-color: black;
    color: white;
    width: 100%;
    padding: 8px;
}

.btn-product-card:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
    border: 1px solid black;
}

/*  MEDIA WIDTH STYLING */
@media (min-width: 400px) and (max-width: 581px) {
    .best-sellers-div {
        flex-basis: 50%;
        max-width: 50%;
    }
}