body {
    /* font-family: "Poppins", sans-serif;
     */
     font-family: "Platform Regular", Arial sans-serif;
     font-weight: light;
}

/* header info styling */
.header-navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    text-align: center;
    padding: 0.5% 1%;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: black;
}

/* media width styling */
@media (max-width: 472px) {
    header {
        font-size: 10px;
        font-weight: bold;
    }
}